table {
    position: center;
}

.div {
    margin: 10px 50px 10px 50px;
}

#proposicion1 {
    position: center;
    margin-top: 0px;
    margin-right: 60px;
    margin-left: 60px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-color: rgb(56, 128, 43)
}

#table_options {
    float: right;
    display: none;
}

#table_proposicion {
    float: left;
}

#presentacion {
    position: center;
    margin: 100px 60px 0px 60px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-color: rgb(56, 128, 43)
}